* {
    margin: 0;
    padding: 0;
}


li a {
    text-decoration: none;
    color: #737473;
}

li a:hover {
    color: #494949;
}

body {
    background-color: rgba(255, 255, 255, 0.75);
    font-family: 'Gotham Pro';
}

header,
footer {
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.75);
    transition: 0.6s;
    position: absolute;

    padding: 20px 0;

}

.scrolled {
   padding: 10px 0;
    background: rgba(255, 255, 255, 1);

}

li {
    list-style-position: inside;
}

header li,
footer li {
    list-style-type: none;
}
header {
    position: fixed;
    z-index: 4;
}
.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}
.justify-content-space-around {
    justify-content: space-around;
}

.flex-direction-column {
    flex-direction: column;
}
.box-container {
    max-width: 1690px;
    margin: 0 auto;
    height: 100%;
}

.header__nav {
    height: 100%;
}

.footer__nav {
    height: 100%;
}

.logo img {
    width: auto;
    height: 63px;
}

.phone li {
    margin-bottom: 5px;
}

.nav li {
    list-style-type: none;
    margin-right: 13px;
    transition-duration: 0.3s;
}

.nav li a:hover {
    transition-duration: 0.5s;
}

.block1 {
    /* position: absolute; */
    background-color: rgba(0, 0, 0, 0.35);
    height: 1031px;
}

.block1 img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 1031px;
    z-index: -1;
}

.block1-content {
    padding-top: 267px;
}

.block1-content h1 {
    width: 952px;
    font-size: 70px;
    line-height: 67px;
    color: #FFFFFF;
}

.block1-content p {
    margin-top: 33px;
    width: 649px;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 45px;
    color: #FFFFFF;
}

.color-fiolet {
    color: #6F3A80;
}

.btn-block1 {
    margin-top: 33px;
    font-style: normal;
    font-weight: bold;
    color: white;
    font-size: 20px;
    line-height: 45px;
    background: #EE778C;
    border-radius: 37px;
    width: 307px;
    height: 75px;
    border: 0;
    transition-duration: 0.3s;
}

.btn-block1:hover {
    background: #6F3A80;
    transition-duration: 0.5s;
}

.block2 {
    background: url(../img/PK_bg_2.jpg) center top / cover;
    padding-bottom: 80px;
}

.hr {
    width: 498px;
    height: 2px;
    background: #6F3A80;
    margin-bottom: 50px;
}

.block2 h2 {
    width: 499px;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    letter-spacing: -0.015em;
    color: #000000;
}

/* .block2 img {
    width: auto;
} */

.block2-ul {
    display: flex;
    flex-direction: column;
}

.block2-ul li {
    list-style-type: none;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #000000;
}

.block2 img {
    max-width: 830px;
    width: 100%;
}

.block2-img {
    height: 392px;
    border-radius: 15px;
    margin-right: 160px;
}

.block2-contetn {
    padding-top: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block2-img-right {
    width: 830px;
    height: 554px;
    border-radius: 15px;
    margin-left: 160px;
}

.block3 {
    background: url(../img/Rectangle23.jpg) center top / cover;
    height: auto;
}

.block3-decisions-box {
    /* width: 400px;
    height: 271px; */
    width: 311px;
    height: 210px;
    z-index: 1;
} 

.borter_test {
    border: 1px solid red;
}

.block3-decisions-box p {
    padding-top: 130px;
    text-align: center;
}

.block3__box {
    flex: 1 1 auto;
    margin-top: 80px;
    /* padding-right: 20px; */
}

.block3__box span {
    position:absolute;
    z-index: 4;
    font-weight: 900;
    font-size: 45px;
    line-height: 51px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    padding-top: 5px;
}

.star{
    max-width: 110px;
}

.block3 p {
    z-index: 2;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.015em;
}
.block3-decisions-box .block3-decisions-box-img {
    border-radius: 15px;
    z-index: 1;
    /* width: 405px;
    height: 271px; */
    width: 311px;
    height: 210px;
    position: absolute;
    object-fit: cover;
}

.block3-imgs {
    margin-top: 100px;
}

.block3 img {
    z-index: 3;
    position: absolute;
    /* padding-bottom: 1px; */
}


.block3 h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 43px;
    letter-spacing: -0.015em;
    text-align: center;
    padding-top: 50px;
}

.block3-imgs {
    padding-bottom: 165px;
    width: 100%;
}


.block4 h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 43px;
    letter-spacing: -0.015em;
    text-align: center;
    margin-top: 80px;
}


.block4 {
    background: url(../img/Rectangle56.png) center top / cover;
    height: auto;
}

.block4-size-p {
    font-weight: 900;
    font-size: 70px;
    line-height: 55px;
    letter-spacing: -0.015em;
    color: #6F3A80;
    /* line-height: 0; */
}

.block4-p {
    width: 219px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #000000;
}



.block4-info-center {
    /* display: flex; */
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.block4-info-center img{
    margin-bottom: 20px;
    width: 100px;
    height: auto;
}
.block4-info-center p {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 24px;
    letter-spacing: -0.015em;
}

.m-t-80 {
    margin-top: 80px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-t-70 {
    margin-top: 70px;
}

.m-t-130 {
    margin-top: 130px;
}

.p-b-106 {
    padding-bottom: 106px;
}

.block4-p1 {
    font-size: 25px;
    line-height: 24px;
    letter-spacing: -0.015em;
    margin-bottom: 50px;
}

.block4-p1 img {
    margin-right: 20px;
}

.block5 {
    min-height: 1376px;
    background: url(../img/PK_bg_3.jpg) center top / cover;
}

.block5 h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    text-align: center;
}

.box {
    width: 941px;
    /* height: 1183px; */
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
}

.btn-block5 {
    margin-top: 70px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 45px;
    color: white;
    background: #EE778C;
    border-radius: 37px;
    width: 307px;
    height: 75px;
    border: 0;
    transition-duration: 0.3s;
    margin-bottom: 30px;
}

.btn-block5:hover {
    background: #B45F86;
    transition-duration: 0.5s;
}

.input {
    width: 830px;
    height: 64px;
    border: 3px solid #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    border-radius: 15px;
}

.input-box {
    margin-top: 30px;
}

.input-box p {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    /* line-height: 55px; */
    letter-spacing: -0.015em;
    color: #FFFFFF;
    margin-bottom: 5px;
}

input[type=text], input[type=tel], input[type=email] {
    padding: 12px 20px;
    color: white;
    font-size: 20px;
    font-family: 'Gotham Pro';
}

textarea {
    width: 830px;
    height: 128px;
    border: 3px solid #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    border-radius: 15px;

    padding: 12px 20px;
    color: white;
    font-size: 20px;
    font-family: 'Gotham Pro';
}

.social-btn li {
    margin-right: 13px;
}
.social-btn li:last-child {
    margin-right: 0;
}

.social-btn img {
    transition-duration: 0.3s;
}

.social-btn img:hover {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition-duration: 0.5s;
}

/*  */
  
menu{
    list-style-type: none;
    padding-top: 200px;
    margin: 0;
  }
  
  .menu li{
    display: inline-block;
  }
  
  .menu li a{
    display: block;
    padding: 10px 15px;
    color: #737473;
    text-decoration: none;
  }
  
  .menuToggle{  
      color: #737473;
      padding: 10px 15px;
      cursor: pointer;
      display: none;
  }
  
  /* @media( max-width: 640px){ */
      .menuToggle{
          display: block;
      }
      .menu{
          display: none;
          position: absolute;
          background: rgba(255, 255, 255, 0.75);
          width: 100%;
          margin-left: -10px;
          padding-left: 10px;
      }
      .menu li{
          display: block;
      }

      .menu a:hover {
          text-decoration: underline;
          color: #494949;
      }
  /* } */
  
  .icon {
      width: 25px;
      height: 25px;
      cursor: pointer;
  }
  
  .hamburger {
      width: 30px;
      height: 2px;
      transform: translate(-50%, -50%);
      background: #737473;
      transition: 0.5s;
      display: inline-block;
      margin-left: 12px;
  }
  
  .hamburger:before,
  .hamburger:after {
      content: "";
      width: 30px;
      height: 2px;
      position: absolute;
      background: #737473;
      transition: 0.5s;
  }
  
  .hamburger:before {
      top: -9px;
  }
  
  .hamburger:after {
      top: 9px;
  }
  
  .icon.active .hamburger {
      background: rgba(0, 0, 0, 0);
  }
  
  .icon.active .hamburger:before {
      top: 0;
      transform: rotate(45deg);
  }
  
  .icon.active .hamburger:after {
      top: 0;
      transform: rotate(135deg);
  }
/*  */

/* <aboutUs.html> */

.aboutUs {
    background: url(../img/about-us-background-images.jpg) center top / cover;
    width: 100%;
    height: 10%;
    /* height: 1031px; */
    color: white;
}

.aboutUs img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 1031px;
    z-index: -1;
}

.aboutUs__content {
    padding-top: 257px;
    padding-left: 406px;
}

.aboutUs__item {
    margin-top: 17px;
    margin-bottom: 17px;
}

.item_padding {
    padding-bottom: 145px;
}

.aboutUs__column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.aboutUs__column h1 {
    margin-bottom: 34px;
    font-weight: bold;
    font-size: 70px;
    line-height: 67px;
}

.aboutUs__column h2 {
    font-weight: bold;
    font-size: 45px;
    line-height: 45px;
}

.aboutUs__column_font_right {
    font-size: 25px;
    line-height: 45px;
}

.column_padding_p p:nth-child(2),
.column_padding_p p:nth-child(3) {
    padding-left: 20px;
}

.color {
    color: #EE778C;
}

.aboutUs2 {
    background: url(../img/Rectangle3.jpg) center top / cover;
    width: 100%;
    height: 927px;
}

.aboutUs2 img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 927px;
    z-index: -1;
}

.aboutUs2__content {
    margin-top: 124px;
    display: flex;
    flex-direction: column;
}

.aboutUs2__item {
    margin-bottom: 50px;
}

.item_position_center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.aboutUs2__column h2  {
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    letter-spacing: -0.015em;
    width: 1123px;
    color: #6F3A80;
}

.column_size_color ul {
    font-size: 45px;
    line-height: 55px;
    letter-spacing: -0.015em;
    color: #6F3A80;
}

.trust {
    background: url(../img/PK_bg_2.jpg) center top / cover;
    width: 100%;
    height: auto;
}

.trust__content {
    padding: 80px 0 40px 0;
}

.trust__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.trust__item h2 {
    font-size: 45px;
    line-height: 43px;
    letter-spacing: -0.015em;
    color: #000000;
    text-align: center;
}

.trust__item p {
    font-weight: bold;
    font-size: 45px;
    line-height: 43px;
    letter-spacing: -0.015em;
    color: #000000;
    text-align: center;
}

.trust__column img {
    position: relative;
    width: 20%;
    object-fit: cover;
}

.trust__column {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0 15px 0;
}

.advantages {
    background: url(../img/Rectangle3_1.jpg) center top / cover;
    width: 100%;
    /* height: 100%; */
    height: 717px;
    padding-bottom: 30px;
}

.advantages__content {
    padding-top: 144px;
}

.advantages__item h2 {
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.advantages__item img {
    position: relative;
    width: 150px;
    height: 150px;
}

.advantages__item p{
    width: 219px;
}

.item_felx{
    display: flex;
    margin-top: 80px;
    justify-content: center;
}

.advantages__column {
    display: flex; 
    align-items: center;
    flex-direction: column;
    flex: 0 0 20%;
    flex-wrap: wrap;
    padding-right: 30px;
}

.advantages__column:last-child {
    padding-right: 0;
}


.advantages__column p{
    margin-top: 38px;
    font-size: 25px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.advantages__content .advantages__column:last-child{
    padding-right: 0px;   
}
.weWork {
    background: url(../img/Rectangle3_2.jpg) center top / cover;
    width: 100%;
    height: 357px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weWork__item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weWork__item h2 {
    font-weight: 900;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #6F3A80;
    width: 964px;
}

.oneWindow {
    background: url(../img/PK_bg_2.jpg) center top / cover;
    width: 100%;
    height: 100%;
}

.oneWindow__item {
    /* padding-top: 57px; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.oneWindow__item h2 {
    width: 1396px;
    font-weight: 900;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.015em;
    padding-top: 96px;
}

.item_p p {
    margin-top: 30px;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.015em;
}

.item_position_p p {
    max-width: 1396px;
    height: 225px;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.015em;
}

/* timeline */

#timeline *, 
#timeline *:before, 
#timeline *:after {
    box-sizing: border-box;
}    
#timeline .timeline-item:after, 
#timeline .timeline-item:before {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}
#timeline {
    max-width: 1100px;
    width: 100%;
    margin: 30px auto;
    position: relative;
    padding: 0 10px;
    transition: all 0.4s ease;
}
#timeline:before {
    content: "";
    width: 3px;
    height: 94%;
    background: #EE778C;
    left: 50%;
    top: 0;
    position: absolute;
}
/* #timeline:after {
    content: "";
    clear: both;
    display: table;
    width: 100%;
} */

#timeline .timeline-item {
    margin-bottom: 50px;
    position: relative;
}
#timeline .timeline-item .timeline-icon {
    background: url(../img/Star1.png) center / cover;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    width: 59px;
    height: 59px;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    margin-left: -27px;
}
#timeline .timeline-item .timeline-icon i {
    line-height: 50px;
}
#timeline .timeline-item .timeline-content {
    width: 45%;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

#timeline .timeline-item .timeline-content p {
    max-width: 475px;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.015em;

}

#timeline .timeline-item:nth-child(even) .timeline-content {
    float: right;
}

/* timeline */

/* </aboutUs.html>  */


/* <ElectionCampaigns> */

.ec-block1 {
    background: url(../img/ElectionCampaigns/back_block1.jpg) center top / cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.ec-block1__content {
    padding-top: 132px;
}

.ec-block1__item {
    margin-bottom: 63px;
}

.ec-block1__item:last-child {
    padding-bottom: 93px;
    margin-bottom: 0;
}
.ec-block1__item h1 {
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    line-height: 67px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    margin-bottom: 63px;
}

.column_back_fone {
    width: auto;
    height: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #EE778C;
    border-radius: 25px;
}

.column_back_fone span {
    color: #FFFFFF;
    padding: 15px 20px;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: -0.015em;
}

.ec-block1__column p {
    font-weight:lighter;
    font-size: 25px;
    line-height: 45px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}



.ec-block2 {
    background: url(../img/PK_bg_2.jpg) center top / cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ec-block2__content {
    padding-top: 126px;
}

.ec-block2__item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 100%;
    margin-bottom: 120px;
}

.ec-block2__item:last-child {
    padding-bottom: 50px;
    margin-bottom: 0;
}

.ec-block2__item_center h2{
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    line-height: 67px;
    letter-spacing: -0.015em; 
    color: #6F3A80;
    margin-bottom: 100px;
}
.ec-block2__column {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex: 0.2 0 auto;
    width: 33.3%;
    margin-bottom: 30px;
}

.ec-block2__column img{
    width: 176px;
    height: 176px
}

.ec-block2__column p {
    width: 307px;
    margin-top: 18px;
    font-size: 25px;
    line-height: 45px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #737473;
}




.ec-block3 {
    background: url(../img/PK_bg_3.jpg) center top / cover;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ec-block3__content {
    padding: 82px 0 52px 0;
}

.ec-block3__item h2 {
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    line-height: 67px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    margin-bottom: 53px;
}

.ec-block3__item h3 {

    text-align: center;
    font-size: 45px;
    line-height: 45px;
    letter-spacing: -0.015em;
    margin-top: 51px;
    color: #FFFFFF;
}

.ec-block3__iitem_format p {
    font-size: 25px;
    line-height: 45px;
    text-align: justify;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.ec-block3__column {
    display: flex;
}

.ec-block3__column_box {
    max-width: 830px;
    width: auto;
    height: auto;
    border: 5px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 15px;
    margin-right: 20px;
    padding: 22px 22px;
}

.ec-block3__column_box:last-child {
    margin-right: 0;
}

.ec-block3__column_box h3 {
    font-size: 45px;
    line-height: 43px;
    text-align: center;
    letter-spacing: -0.015em;
    margin-bottom: 18px;
    color: #FFFFFF;
}

.ec-block3__column_box h4 {
    font-size: 25px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.015em;
    margin-bottom: 18px;
    color: #FFFFFF;
}

.column_box_text_flex {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    font-size: 25px;
    line-height: 24px;
    letter-spacing: -0.065em;
    color: #FFFFFF;
}

.box_star {
    position: relative;
    margin-right: 15px;
}
.box_star span {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);

    font-size: 36px;
    line-height: 45px;
    /* identical to box height, or 125% */

    letter-spacing: -0.015em;
}




.ec-block4 {
    background: url(../img/PK_bg_2.jpg) center top / cover;
    width: 100%;
    height: auto;
    /* display: flex; */
    /* align-items: center; */
}

.ec-block4__content {
    padding: 88px 0 0 0;
}

.ec-block4__item h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
    line-height: 43px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    color: #6F3A80;
    margin-bottom: 46px;
}

.ec-block4__column{
    padding-bottom: 129px;
}

.ec-block4__column li,
.ec-block4__column p {
    font-family: 'Gotham Pro';
    font-size: 36px;
    line-height: 34px;
    letter-spacing: -0.015em;
    color: #737473;
}

.column_p_inline p {
    display: inline-block;
    margin: 39px 0;
}

.column_p_inline p:first-child {
    font-weight: bold;
    margin-right: 10px;
}



.ec-block5 {
    background: url(../img/ElectionCampaigns/back_block5.jpg) center top / cover;
    width: 100%;
    height: 976px;
    display: flex;
    justify-content: center;
    color: white;
}

.ec-block5__content {
    padding-top: 149px;
}

.ec-block5__item h2{
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 43px;
    letter-spacing: -0.015em;
    margin-bottom: 9px;
}

.ec-block5__item p:nth-child(3){
    font-weight: bold;
    margin: 9px 0 42px 0;
}

.ec-block5__item p{
    font-style: normal;
    font-weight: lighter;
    font-size: 25px;
    line-height: 34px;
    letter-spacing: -0.015em;
}

.item_box {
    max-width: 1356px;
    width: auto;
    height: auto;
    background: #6F3A80;
    border-radius: 15px;
    padding: 30px 20px;
}
/* </ElectionCampaigns> */

/* <Banks> */

.banks-block1 {
    background: url(../img/banks/back_block1.jpg) center top / cover;
    width: 100%;
    height: auto;
    color: #FFFFFF;
}

.banks-block1__content {
    padding-top: 224px;
}

.banks-block1__item h1{
    text-align: center;
    font-size: 70px;
    line-height: 67px;
    letter-spacing: -0.015em;
    text-transform: uppercase;

    margin-bottom: 150px;
}

.banks-block1__column a {
    font-size: 45px;
    line-height: 105.2%;
    letter-spacing: -0.015em;
}


.banks-block1__column p {
    padding: 19px 0 54px 0;

    font-weight: normal;
    font-size: 45px;
    line-height: 43px;
    letter-spacing: -0.015em;
}

.banks-block1__item button {
    margin: 125px 0 136px 0;
}

.column_button-position-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


.banks-block2 {
    background: url(../img/banks/back_block2.jpg) center top / cover;
    width: 100%;
    height: auto;
    color: #FFFFFF;
}

.banks-block2__items {
    display: flex;
    justify-content: space-between;
}

.banks-block2__items p:last-child {
    margin-top: 0;
}

.banks-block2__content {
    padding: 153px 0 168px 0;
}

.banks-block2__column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.banks-block2__column img {
    margin-bottom: 47px;
    width: auto;
    height: 100px;
}

.banks-block2__column p {
    max-width: 316px;
    font-weight: bold;
    font-size: 25px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.015em;
}

.banks-block2__column p:last-child {
    font-weight: normal;
}



.banks-block3 {
    background: url(../img/banks/back_block3.jpg) center top / cover;
    width: 100%;
    height: auto;
}
.banks-block3__content {
    padding: 138px 0 128px 0;
}

.banks-block3__column {
    display: flex;
    justify-content: space-between;
}

.banks-block3__column {
    margin-bottom: 84px;
}

.banks-block3__column:last-child {
    margin-bottom: 0;
}

.banks-block3__column img {
    border-radius: 15px;
}

.column_info h2 {
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    letter-spacing: -0.015em;
}

.column_info ul {
    max-width: 691px;
    width: auto;
}

.column_info li {
    list-style-type: none;
    font-weight: normal;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: -0.015em;
}

.column_img-size {
    max-width: 830px;
    height: 100%;
    padding: 0 30px;
}



.banks-block4 {
    background: url(../img/banks/back_block4.jpg) center top / cover;
    width: 100%;
    /* max-height: 2497px; */
    height: auto;

    padding: 100px 0 100px 0;

    font-weight: normal;
    font-size: 25px;
    line-height: 24px;
    letter-spacing: -0.015em;

    color: #535353;
}


 .banks-block4__item {
    margin-left: 539px;
}

.banks-block4__item_block li {
    list-style-type: none;
}

.banks-block4__item:first-child {
    margin-left: 0;
}

.banks-block4__item h2 {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    line-height: 43px;
    letter-spacing: -0.015em;
    color: #FFFFFF;

    margin-bottom: 83px;
}

.item_clmn {
    display: inline-flex;
}

.item_clmn .banks-block4__item_block:last-child {
    margin-left: 157px;
}


.banks-block4__item_block {
    width: auto;
    min-height: 45px;
    display: flex;
    align-items: center;
    background: #E5E5E5;
    border-radius: 15px;
    padding: 27px 18px 27px 48px;
    position: relative;
    margin-bottom: 56px;
}

.item_size-width {
    max-width: 718px;
    width: auto;
}

.item_size-width1 {
    max-width: 978px;
    width: auto;
}

.item_size-width2 {
    max-width: 1263px;
    width: auto;
}

.banks-block4__item_block img {
    /* display: flex; */
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    top: 12px;
}

.font_bolt {
    font-weight: bold;
}




.slider {
    background: url(../img/ElectionCampaigns/back_block5.jpg) center top / cover;
    width: 100%;
    min-height: 576px;
    height: auto;
    padding: 149px 0 0 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    margin-bottom: 30px;
}
.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: #737473;
}

.swiper-pagination .swiper-pagination-bullet {
    background-color: #737473;
}

.slider__box {
    max-width: 1356px;
    width: auto;
    height: auto;

    background: #6F3A80;
    border-radius: 15px;
    color: white;
    padding: 23px 20px;

    font-size: 25px;
    line-height: 24px;
    letter-spacing: -0.015em;
}

.box_text h2 {
    font-weight: normal;
    font-size: 45px;
    line-height: 43px;
    letter-spacing: -0.015em;
    
}

.box_text p{
    margin: 9px 0;
}

.box_text p:last-child {
    font-weight: bold;
}

.box_text-indent {
    margin-top: 42px;
}

.box_text-indent p{
   margin-bottom: 20px;
}


.banks-block6 {
    background: url(../img/PK_bg_2.jpg) center top / cover;
    width: 100%;
    min-height: 576px;
    height: auto;
    padding: 96px 0 111px 0;

    font-size: 25px;
    line-height: 28px;
    letter-spacing: -0.015em;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.banks-block6__item h2 {
    text-align: center;
    font-size: 45px;
    line-height: 43px;
    letter-spacing: -0.015em;
    color: #6F3A80;

    margin-bottom: 56px;
}

.banks-block6__column {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.banks-block6__column img {
    padding-right: 30px;
}

.column_title{
    font-weight: bold;
    color: #6F3A80;
}

.column_vertical{
    color: #EE778C;
}

.column_vertical li{
    list-style-type: none;
}
/* </Banks> */

/* <insurance> */

.insurance-block1 {
    background: url(../img/insurance/bg_block1.jpg) center top / cover;
    width: 100%;
    height: auto;

    color: white;
}

/* </insurance> */

/* <online shops> */
.os-block1 {
    background: url(../img/online_shops/bg_block1.jpg) center top / cover;
    width: 100%;
    height: auto;

    color: white;
}

.os-block1 .banks-block2__column p{
    max-width: 417px;
    margin-right: 20px;
}

.os-block1__content {
    padding-top: 224px;
}

.os-block1__item h1 {
    font-size: 70px;
    line-height: 67px;
    letter-spacing: -0.015em;
    text-align: center;
}

.os-block1__item h2 {
    font-size: 70px;
    line-height: 67px;
    letter-spacing: -0.015em;
    padding: 164px 0 0 0;
}


.os-block2 {
    background: url(../img/banks/back_block2.jpg) center top / cover;
    width: 100%;
    height: auto;
}

.os-block2__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.os-block2__content .btn-block1 {
    margin: 66px 0 66px 0;
}

/* </online shops> */


/* <telecommunication> */
.telecom-block1 {
    background: url(../img/telecom/bg_block1.jpg) center top / cover;
    width: 100%;
    height: auto;

    color: white;
}

.column_padding{
    padding: 109px 0 163px 0;
}

.telecom-block4 {
    background: url(../img/telecom/bg_block4.jpg) center top / cover;
    width: 100%;
    height: auto;

    padding: 100px 0 100px 0;
    color: #535353;

    font-weight: normal;
    font-size: 25px;
    line-height: 24px;
    letter-spacing: -0.015em;
}
.li_style_on li {
    list-style-type: disc;
}
/* </telecommunication> */


/* <marketing> */
.marketing-block1 {
    background: url(../img/marketing/bg_block1.jpg) center top / cover;
    width: 100%;
    height: auto;

    color: white;

    text-align: center;
}

.marketing-block1 .column_back_fone a {
    font-weight: bold;
    font-size: 70px;
    line-height: 67px;
    letter-spacing: -0.015em;
}

.marketing-block4 {
    background: url(../img/marketing/bg_block3.jpg) center top / cover;
    width: 100%;
    height: auto;

    padding: 100px 0 100px 0;
}

.marketing-block4 p,
.marketing-block4 li  {
    font-size: 25px;
    line-height: 24px;
    text-align: justify;
    letter-spacing: -0.015em;

    color: #535353;
}


/* </marketing> */


/* <industry> */
.industry-block1 {
    background: url(../img/industry/bg_block1.jpg) center top / cover;
    width: 100%;
    height: auto;

    color: white;
    text-align: center;
}

.industry-block1 .banks-block2__content {
    padding: 70px 0 130px 0;
}

.industry-block1__content {
    padding-top: 221px;
}

.industry-block1__item h1 {
    font-weight: bold;
    font-size: 70px;
    line-height: 67px;
    letter-spacing: -0.015em;

    padding-bottom: 45px;
}

.industry-block1__item p {
    font-weight: bold;
    font-size: 45px;
    line-height: 43px;
    letter-spacing: -0.015em;

    padding: 25px 0 25px 0;
}

.industry-block4 {
    background: url(../img/industry/bg_block4.jpg) center top / cover;
    width: 100%;
    height: auto;

    padding: 100px 0 200px 0;

    color: #535353;

    font-weight: normal;
    font-size: 25px;
    line-height: 24px;
    letter-spacing: -0.015em;
}
/* </industry> */

/* <development> */
.development-block1 {
    background: url(../img/development/bg_block1.jpg) center top / cover;
    width: 100%;
    height: auto;

    color: white;
}

.development-block1__content {
    padding: 621px 0 331px 0;
}

.development-block1__item h1 {
    font-weight: bold;
    font-size: 70px;
    line-height: 67px;
    letter-spacing: -0.015em;
    margin-bottom: 47px;
}
.development-block1__item p {

    max-width: 951px;
    font-weight: 900;
    font-size: 25px;
    line-height: 45px;
    letter-spacing: -0.015em;
    margin-bottom: 51px;
}



.development-block2 {
    background: url(../img/development/bg_block2.jpg) center top / cover;
    width: 100%;
    height: auto;

    padding: 112px 0 115px 0;
}

/* .development-block2__content {

}

.development-block2__item {
    
} */

.development-block2__item h2{
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    line-height: 43px;
    letter-spacing: -0.015em;
    color: #6F3A80;

    margin-bottom: 54px;
}

.development-block2__column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex: 1 1 auto; */
}

.development-block2__column img {
    max-width: 547px;
    max-height: 366px;
}

.development-block2__column p {
    max-width: 992px;
    font-size: 36px;
    line-height: 55px;
    text-align: justify;
    letter-spacing: -0.015em;
    float: right;
}



.development-block3 .oneWindow__item h2 {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    line-height: 43px;
    text-align: justify;
    letter-spacing: -0.015em;

    margin-top: 0;
    margin-bottom: 53px;
}

.color-fiolet-bold {
    font-weight: bold;
    color: #6F3A80;
}


.development-block4 {
    background: url(../img/development/bg_block4.jpg) center top / cover;
    width: 100%;
    height: auto;
}

/* .development-block4__content {

} */

.development-block4__item h2 {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    line-height: 43px;
    letter-spacing: -0.015em;
    color: #6F3A80;

    margin: 60px 0 19px 0;
}

.development-block4__column {
    display: flex;
    justify-content: space-between;

    margin-bottom: 50px;
}

.development-block4__column li {
    list-style-type: none;
}

.development-block4__column p {
    text-align: center;

    font-weight: bold;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: -0.015em;

}

.color-red {
    color: #FF0000;
}

.color-green {
    color: #48B159;
}

.development-block4__column li {
    max-width: 688px;

    font-weight: normal;
    font-size: 25px;
    line-height: 33px;
    text-align: justify;
    letter-spacing: -0.015em;
    text-indent: 50px;
}

.development-block4__column li img {
    margin-right: 30px;
    margin-left: -50px;
}


.development-block4__item-box {
    padding: 20px 20px;

    margin: 0 auto;
    max-width: 1545px;
    min-height: 130px;
    border: 5px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    /* text */
    font-weight: bold;
    font-size: 36px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #EE778C;
    text-align: center;

}

.development-block4__item-box img {
    margin-right: 50px;
}

.column_position {
    display: flex;
    flex-direction: column;
}


.development-block5 {
    padding: 130px 0;
}
/* </development> */


/* <service> */

.service-block {
    background: url(../img/PK_bg_2.jpg) center top / cover;
    width: 100%;
    height: 100%;

    padding: 158px 0 100px 0;

    color: white;
}

/* .service-block__content {
    padding-top: 110px;
} */

.service-block__item {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

.service-block__item-h2 {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    line-height: 43px;
    letter-spacing: -0.015em;
    color: #6F3A80;
}

.service-block_box {
    width: 405px;
    min-height: 520px;
    width: auto;
    border-radius: 15px;

    background: #6F3A80;

    margin-top: 60px;
    margin-right: 10px;
}

.service-block_box img {
    object-fit: cover;
    max-width: 405px;
    min-height: 200px;
    height: auto;
    width: 100%;
    border-radius: 15px;
}

.last_box .service-block_box:last-child {
    padding: 0 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: none;
}

.last_box .service-block_box:last-child img{
    max-width: 405px;
    width: 100%;
}

.service-block_box .btn-block1 {
    padding: 10px 10px;
    max-width: 307px;
    /* width: 100%; */
    height: 75px;
    line-height: 25px;
}

.box_bg {
    position: relative;
    margin-top: -40px;
    max-width: 405px;
    min-height: 71px;
    background: #EE778C;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-weight: bold;
    font-size: 25px;
    line-height: 24px;
    letter-spacing: -0.015em;
}
.box-ul {
    display: flex;
    align-items: center;
    flex-direction: column;

    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.015em;
    /* padding: 0 10px; */
}

.box-ul ul {
    padding: 0 20px;
    max-width: 286px;
    width: auto;
    margin-top: 19px;
}

.mini_btn {
    margin-top: 41px;
    margin-bottom: 20px;
    background: #EE778C;
    border-radius: 37px;
    max-width: 141px;
    min-height: 30px;
    border: 1px solid #EE778C;
    
    padding: 7px 26px;

    color: white;
    font-weight: normal;
    font-size: 15px;

    transition-duration: 0.3s;
}

.mini_btn:hover {
    background: #6F3A80;
    transition-duration: 0.4s;
    border: 1px solid #EE778C;
}

/* </service> */


/* <telemarketing> */

.first_block {
    background: url(../img/telemarketing/bg_first_block.jpg) center top / cover;
    width: 100%;
    height: 100%;
    color: white;
}

.first_block__content {
    padding: 267px 0 220px 0;
}


.first_block__item h1 {
    font-weight: 900;
    font-size: 70px;
    line-height: 79px;
    letter-spacing: -0.015em;

    margin-bottom: 83px;
}

.first_block__item ul {
    font-weight: 900;
    font-size: 25px;
    line-height: 45px;
    letter-spacing: -0.015em;
}

.first_block__item li {
    list-style-type: none;
}

.first_block__item li:first-child {
    color: #EE778C;
}

.first_block__item button {
    margin-top: 83px;
}


.telemarketing-block2 {
    padding: 118px 0 41px 0;
}

.telemarketing-block2 .development-block2__column {
    margin-bottom: 43px;
}


.telemarketing-block3 {
    background: url(../img/telemarketing/bg_block3.jpg) center top / cover;
    width: 100%;
    height: 100%;

    color: #535353;
}

.telemarketing-block3__content {
    padding: 51px 0 65px 0;
}

.telemarketing-block3__item h2 {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    /* or 125% */

    text-align: center;
    letter-spacing: -0.015em;

    color: #6F3A80;
}

.telemarketing-block3__column {
    display: flex;
    justify-content: space-around;

    margin-top: 42px;
}

.column_block {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.column_block p{
    max-width: 546px;
    margin-left: 23px;

    font-size: 25px;
    line-height: 24px;
    text-align: justify;
    letter-spacing: -0.015em;
}


.telemarketing-block4 {
    color: #535353;
}

.telemarketing-block4__content {
    padding: 97px 0 162px 0;
}

.telemarketing-block4__item {

}

.telemarketing-block4__item h2 {
    font-weight: 900;
    font-size: 36px;
    line-height: 40px;
    text-align: justify;
    letter-spacing: -0.015em;
    text-align: center;
    margin-bottom: 32px;
    
    color: #6F3A80;
}

.telemarketing-block4__column {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.telemarketing-block4__column p {
    max-width: 972px;

    font-size: 36px;
    line-height: 45px;
    text-align: justify;
    letter-spacing: -0.015em;
}

.forma_min {
    max-width: 586px;
    min-height: 405px;
    
    background: #FFFFFF;
    border: 3px solid #6F3A80;
    box-sizing: border-box;
    box-shadow: 0px 4px 25px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.forma_min button {
    margin-top: 68px;
    margin-bottom: 20px;
}

/* forma box min */
.input_min {
    width: 547px;
    min-height: 64px;

    border: 3px solid #6F3A80;
    box-sizing: border-box;
    border-radius: 15px;   
}

.input-box_min {
    margin-top: 30px;
    padding: 0 21px;
}

.input-box_min:first-child {
    margin-top: 10px;
}

.input-box_min p {
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    letter-spacing: -0.015em;
    color: #6F3A80;
    margin-bottom: 5px;
}

.input-box_min input[type=text],
.input-box_min input[type=tel] {
    padding: 12px 20px;
    color: #535353;
    font-size: 20px;
    font-family: 'Gotham Pro';
}
/* // */


.telemarketing-block5 {
    background: url(../img/telemarketing/bg_block5.jpg) center top / cover;
    width: 100%;
    height: 100%;

    padding: 70px 0 130px 0;

    font-weight: normal;
    font-size: 25px;
    line-height: 24px;
    letter-spacing: -0.015em;

    color: #535353;
}

.telemarketing-block6 {
    background: url(../img/telemarketing/bg_block6.jpg) center top / cover;
    width: 100%;
    height: 100%;

    padding: 70px 0 130px 0;

    font-weight: normal;
    font-size: 25px;
    line-height: 24px;
    letter-spacing: -0.015em;

    color: #535353;
}


.telemarketing-block7 {
    padding: 150px 0;
}

.telemarketing_font {
    margin-top: 90px;

    font-size: 36px;
    line-height: 45px;
    text-align: justify;
    letter-spacing: -0.015em;
}


.telemarketing-block8 {
    background: url(../img/telemarketing/bg_block8.jpg) center top / cover;
    width: 100%;
    min-height: 324px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
}

.telemarketing-block8 .banks-block2__column p {
    font-weight: bold;
    font-size: 25px;
    line-height: 24px;
    letter-spacing: -0.015em;
}

.telemarketing-block8__content {
    width: 80%;
}

.telemarketing-block8__items {
    display: flex;
    justify-content: space-around;
}


.telemarketing-block9 {
    padding-top: 154px;
}

.telemarketing-block9__items {
    padding-bottom: 154px;
}

.telemarketing-block9__items h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 34px;
    text-align: center;
    letter-spacing: -0.015em;

    color: #6F3A80;

    margin-bottom: 32px;
}

.telemarketing-block9__items p,
.telemarketing-block9__items li {
    font-size: 36px;
    line-height: 45px;
    /* or 125% */

    text-align: justify;
    letter-spacing: -0.015em;
    text-indent: 50px;

    padding-bottom: 10px;
}

.telemarketing-block9__items li {
    list-style-position:inside;
}

.telemarketing-block9__items img {
    width: 35%;
    margin-right: 20px;
}


.telemarketing-block10{
    width: 100%;
}

.telemarketing-block10__content h2 {
    font-size: 45px;
    line-height: 45px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #6F3A80;
    font-weight: bold;

    margin-bottom: 55px;
}

.telemarketing-block10__items {
    background: url(../img/telemarketing/bg_block8.jpg) center top / cover;
    width: 100%;
    min-height: 324px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    color: white;
}

.telemarketing-block10__items .banks-block2__column {
    display: flex;
    align-items: center;
}

.telemarketing-block10__items .banks-block2__column p {
    font-weight: bold;
}

/* </telemarketing> */

/*  */
.hotline_block {
    background: url(../img/hotline/bg_block1.jpg) center top / cover;
    width: 100%;
    height: 100%;
    color: white;
}

.hotline__item h1 {
    font-weight: 900;
    font-size: 70px;
    line-height: 79px;
    letter-spacing: -0.015em;

    margin-bottom: 82px;
}

.hotline__item p {
    max-width: 1081px;
    font-weight: normal;
    font-size: 25px;
    line-height: 45px;
    letter-spacing: -0.015em;

    margin-bottom: 82px;
}

.color-rose {
    color: #EE778C;
}

.hotline-block2 {
    color: #535353;
}

.hotline-block2__content {
    padding: 115px 0;
}

.hotline-block2__column {
    display: flex;
    align-items: center;
}

.hotline-block2__column img {
    width: 40%;
    margin-right: 162px;
}

.hotline-block2__column p {
    font-weight: normal;
    font-size: 36px;
    line-height: 34px;
    text-align: justify;
    letter-spacing: -0.015em;

    color: #535353;
}

.hotline-block2__column p:first-child {
    margin-bottom: 81px;
}
/*  */



/*  */
.mr_block {
    background: url(../img/marketingResearch/bg_block1.jpg) center top / cover;
    width: 100%;
    height: 100%;

    color: white;
}

.mr_block .hotline__item p {
    max-width: 688px;
    margin-bottom: 0;
}


.mr-block2 {
    padding-top: 100px;
    text-indent: 0;
}

.mr-block2 .telemarketing-block9__items p:first-child {
    text-align: center;
}


.mr-block3 {
    text-indent: 0;
}

.mr-block3 .telemarketing-block9__items p:first-child {
    text-align: left;
}

.mr-block3 .telemarketing-block9__items:last-child {
    padding-bottom: 50px;
}
/*  */


/* <callCenterServices> */

.first_block_callCenterServices {
    background: url(../img/callCenterServices/bg_block1.jpg) center top / cover;
    width: 100%;
    height: 100%;
    color: white;
}

.first_block_callCenterServices .first_block__item p {
    max-width: 684px;
    font-weight: 900;
    font-size: 25px;
    line-height: 45px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}


.callCenterServices_block2 {
    background: url(../img/PK_bg_2.jpg) center top / cover;
    width: 100%;
    height: 100%;

}

.callCenterServices_block2__content {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    padding-top: 66px;
}

.callCenterServices_block2__item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.callCenterServices_block2__colunm {
    display: flex;
    align-items: center;
}

.callCenterServices_block2__item1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.callCenterServices_block2__item1 h2 {
    font-weight: bold;
    font-size: 45px;
    line-height: 43px;
    letter-spacing: -0.015em;
    color: #6F3A80;

    margin-bottom: 28px;
}

.item_logo {
    display: flex;
    align-items: center;

    font-weight: bold;
    font-size: 45px;
    line-height: 43px;
    letter-spacing: -0.015em;
    color: #6F3A80;
}

.item_logo img {
    width: 100%;
    margin-right: 38px;
}

.column_box {
    margin-right: 25px;
}

.column_box:last-child {
    margin-right: 0;
}

.colunm_padding {
    max-width: 827px;
    font-size: 25px;
    line-height: 24px;
    letter-spacing: -0.015em;

    padding: 18px 0;
}

.colunm_padding p:first-child {
    margin-bottom: 5px;
}

.tm__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.tm__column h3 {
    font-weight: bold;
    font-size: 45px;
    line-height: 43px;
    letter-spacing: -0.015em;
    color: #6F3A80;

    margin-bottom: 16px;
} 


.callCenterServices_block3 {
    padding: 50px 0;
}

.callCenterServices_block3__content {}

.callCenterServices_block3__item {
    font-size: 36px;
    line-height: 34px;
    letter-spacing: -0.015em;

}

.callCenterServices_block3__item li {
    padding-bottom: 10px;
}

.callCenterServices_block3__item .color-fiolet-bold {
    padding-bottom: 14px;
}


.callCenterServices_block4 {
    background: url(../img/callCenterServices/bg_block4.jpg) center top / cover;
    width: 100%;
    height: 100%;

}
.callCenterServices_block4__content {
    padding: 100px 0;
}

.callCenterServices_block4__item {
    font-size: 36px;
    line-height: 34px;
    letter-spacing: -0.015em;
}

.callCenterServices_block4__item h2 {
    text-align: center;
    font-size: 45px;
    line-height: 43px;
    letter-spacing: -0.015em;
    color: #6F3A80;

    margin-bottom: 40px;
}

/* </callCenterServices> */


/* <career> */
.first_block_career {
    background: url(../img/career/bg_block1.jpg) center top / cover;
    width: 100%;
    height: 100%;

    color: white;
}

.career_block2 {
    background: url(../img/PK_bg_2.jpg) center top / cover;
    width: 100%;
    height: 100%;
}

.career_block2__content {
    padding-top: 100px;
}

.career_block2__item {
    padding-bottom: 60px;
}

.career_block2__item p {
    font-size: 36px;
    line-height: 45px;
    text-align: justify;
    letter-spacing: -0.015em;
}

.career_block2 .banks-block2__items {
    display: flex;
    justify-content: space-around;
}

.career_block2 .banks-block2__column p {
    font-weight: bold;
}

.career_block2 .banks-block2__column img {
    max-width: 186px;
    height: auto;
}
/* </career> */


/* <RemoteSalesDepartment> */
.first_block_rsd {
    background: url(../img/RemoteSalesDepartment/bg_block1.jpg) center top / cover;
    width: 100%;
    height: 100%;

    color: white;
}

.first_block_rsd .first_block__item p {
    font-size: 25px;
    line-height: 45px;
    /* or 180% */

    letter-spacing: -0.015em;

    margin-bottom: 60px;
}



.rsd-block6 {
    background: url(../img/PK_bg_2.jpg) center top / cover;
    width: 100%;
    height: 100%;
}

.rsd-block6 .banks-block6__column{
   padding-left: 5%;
}

.rsd-block6 .banks-block6__content {
    padding: 60px 0;
}

.rsd-block6 .column_vertical li{
    font-size: 25px;
    line-height: 34px;
    letter-spacing: -0.015em;
    color: #535353;
}

.rsd-block6 .column_title {
    color: #535353;
    font-size: 36px;
    line-height: 34px;
    letter-spacing: -0.015em;
}

/* </RemoteSalesDepartment> */


/* <ComprehensiveIndustrySolutions> */
.first_block_cis{
    background: url(../img/CIS/bg_block1.jpg) center top / cover;
    width: 100%;
    height: 100%;

    color: white;
}

.first_block_cis .first_block__item p {
    font-size: 25px;
    line-height: 45px;
    letter-spacing: -0.015em;
    margin-bottom: 30px;
}

.cis_block2__content {
    padding: 55px 0;
}

.cis_block2__item { 
    font-size: 36px;
    line-height: 45px;
}
/* </ComprehensiveIndustrySolutions> */


/* <AutomaticMaintenance> */

.first_block_am {
    background: url(../img/AM/bg_block1.jpg) center top / cover;
    width: 100%;
    height: 100%;

    color: white;
}

.first_block_am  .first_block__item h1 {
    margin-bottom: 30px;
}

.first_block_am  .first_block__item p {
    font-size: 25px;
    line-height: 25px;
    letter-spacing: -0.015em;
    margin-bottom: 60px;
}
/* </AutomaticMaintenance> */


/*  */

.am-block2__content {
    padding-top: 105px;
}
.am-block2__item  {
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.015em;

    margin-bottom: 100px;
}
.am-block2__item h2 {
    font-weight: bold;
    font-size: 45px;
    line-height: 43px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #6F3A80;

    margin-bottom: 47px;
}

.am-block2__column {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.am-block2__column p,
.am-block2__column ul {
    max-width: 959px;
}

.am-block2__column img {
    width: 35%;
    margin-right: 30px;
    border-radius: 15px;
}

.center p {
    max-width: 688px;
    text-align: center;
}

.text-indent50px{
    text-indent: 50px;
}

/*  */

/*  */
.first_block_helpDesk {
    background: url(../img/helpDesk/bg_block1.jpg) center top / cover;
    width: 100%;
    height: 100%;

    color: white;
}
/*  */

.item_padding {
    padding-top: 120px;
    padding-bottom: 0;
}

/* <ContactCenterOutsourcing> */
.first_block_cco {
    background: url(../img/CCO/bg_block1.jpg) center top / cover;
    width: 100%;
    height: 100%;

    color: white;
}

.first_block_cco p {
    font-weight: 900;
    font-size: 25px;
    line-height: 45px;
    letter-spacing: -0.015em;
}

.cco_block2 {
    background: url(../img/CCO/bg_block2.jpg) center top / cover;
    width: 100%;
    min-height: 517px;
}


.cco_block2__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 140px 0;
}

.cco_block2__item {
    text-align: center;
    font-weight: normal;
    font-size: 36px;
    line-height: 34px;
    letter-spacing: -0.015em;
    color: #535353;
}

.cco_block2__item p:first-child {
    margin-bottom: 10px;
}



.cco_block3__content {}
.cco_block3__item {}

.cco_block3__item h2 {
    font-weight: 900;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.015em;

    color: #6F3A80;

    margin-bottom: 73px;
}

.cco_block3__column {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cco_block3__column img {
    width: 90%;
    max-height: 500px;
    margin: 0 20px;
}

.column_font {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-weight: bold;
    font-size: 36px;
    line-height: 34px;
    letter-spacing: -0.015em;

    color: #737473;   
}

.font_right {
    text-align: right;
}


.cco_block4 {
    background: url(../img/CCO/bg_block4.jpg) center top / cover;
    width: 100%;
    min-height: 854px;
}

.cco_block4__content {
    padding: 100px 0 50px 0;
}

.cco_block4__item {
    font-size: 36px;
    line-height: 40px;
    text-align: justify;
    letter-spacing: -0.015em;

    color: #737473;
}

.cco_block4__item h2 {
    font-size: 36px;
    line-height: 34px;
    text-align: center;

    margin-bottom: 47px;
}

.cco_block4__item p {
    margin-bottom: 20px;
}



.cco_block5__content {
    padding: 50px 0;
}

.cco_block5__item {
    margin-bottom: 100px;
}

.cco_block5__item .color-fiolet-bold {
    text-align: center;
    font-size: 45px;
    line-height: 43px;

    margin-bottom: 42px;
}

.cco_block5__item p,
.cco_block5__item li {
    font-size: 36px;
    line-height: 55px;
    text-align: justify;
    letter-spacing: -0.015em;
}

.buttom_center{
    display: flex;
    align-items: center;
    justify-content: center;

}
.cco_block5__column {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cco_block5__column img {
    object-fit: cover;
    max-width: 40%;
    min-height: 588px;
    border-radius: 15px;

    margin-right: 20px;
}
/* </ContactCenterOutsourcing> */


/* <TelephoneSurveys> */
.first_block_ts {
    background: url(../img/TelephoneSurveys/bg_block1.jpg) center top / cover;
    width: 100%;
    height: 100%;
    
    color: white;
}

.ts-block2 .font_bolt {
    text-align: center;
}

.ts__item_box {
    max-width: 782px;
    height: auto;
    background: #6F3A80;
    border-radius: 15px;


    padding: 20px;
    font-weight: bold;
    font-size: 25px;
    line-height: 45px;
    text-align: justify;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}

.ts-block3 {
    background: url(../img/PK_bg_2.jpg) center top / cover;
    width: 100%;
    height: 100%;
}

/* </TelephoneSurveys> */


/* <UpdatingTheDatabase> */
.first_block_atd{
    background: url(../img/ATD/bg_block1.jpg) center top / cover;
    width: 100%;
    height: 100%;

    color: white;
}

.first_block_atd .first_block__item p {
    font-weight: bold;
    font-size: 25px;
    line-height: 45px;
    letter-spacing: -0.015em;
}

.atd_block2 {
    background: url(../img/PK_bg_2.jpg) center top / cover;
    width: 100%;
    height: 100%;
}

.atd_block2__content {
    padding: 50px;
}

.atd_block2__item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.atd_block2__item h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    /* or 125% */

    text-align: center;
    letter-spacing: -0.015em;

    color: #6F3A80;

    margin-bottom: 84px;
}
.atd_block2__column {
    display: flex;
    justify-content: space-between;
}

.column_content-center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.atd_block2__column img {
    max-width: 405px;
    width: 90%;
    margin-bottom: 20px;
}

.atd_block2__column p {
    max-width: 322px;
    font-size: 25px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.015em;
}


.atd_block3 {
    background: url(../img/PK_bg_3.jpg) center / cover;
    width: 100%;
    height: 100%;
}

.atd_block3__content {
    padding: 100px 0;
}

.atd_block3__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.atd_block3__item h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 34px;
    letter-spacing: -0.015em;
    
    color: #FFFFFF;
    text-align: center;

    margin-bottom: 77px;
}

.atd_block3__column {
    display: flex;
    margin-bottom: 43px;
}

.atd_block3__column img{
    max-height: 50px;
}

.atd_block3__column p {
    font-weight: normal;
    font-size: 36px;
    line-height: 34px;
    letter-spacing: -0.015em;
    margin-left: 20px;
    
    color: #FFFFFF;
}


.atd_block4__content {
    padding: 59px 0;
}

.atd_block4__item p {
    font-size: 36px;
    line-height: 45px;
    /* or 125% */

    text-align: center;
    letter-spacing: -0.015em;

    color: #000000;
}
/* </UpdatingTheDatabase> */

.wpcf7 .ajax-loader {
    display: block !important;
    margin: 1px auto !important;
}

.form-submit-wr {
    text-align: center;
}
.form-submit-wr input {
    cursor: pointer;
}