
@media (min-width: 1690px) {
    .box-container {
        max-width: 1680px;
    }

    .block3__box {
        flex: 1 1 auto;
        margin-top: 80px;
    }
    .block3-decisions-box {
        width: 400px;
        height: 271px;
        z-index: 1;
    } 
    
    .block3 p {
        z-index: 2;
        color: white;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 24px;
        letter-spacing: -0.015em;
    }
    .block3-decisions-box .block3-decisions-box-img {
        border-radius: 15px;
        z-index: 1;
        width: 405px;
        height: 271px;
        position: absolute;
        object-fit: cover;
    }

    .trust__column img {
        position: relative;
        width: 196px;
    }
}

@media (max-width: 1690px) {
    .box-container {
        max-width: 1366px;
        margin: 0 auto;
    }

    .aboutUs__content {
        padding-top: 130px;
        padding-left: 140px;
    }


    .column_p_inline p:first-child{
        margin-bottom: 0;
    }


    .banks-block1__item h1{
        font-size: 50px;
    }
    
    .banks-block1__column a {
        font-size: 35px;
    }
    
    .banks-block1__column p {
        font-size: 35px;
    }

    .slider__box {
        max-width: 1190px;
    }

    .development-block2__column img {
        margin-right: 30px;
    }


    .development-block4 ul{
        margin-right: 50px;
    }

    .column_ul-margin ul {
        margin-right: 0;
    }

    .development-block1__content {
        padding: 321px 0 231px 0;
    }

}

@media (max-width: 1366px) {
    .box-container {
        max-width: 1280px;
        margin: 0px 30px;
    }
    .oneWindow__item h2 {
        width: auto;
    }
    .aboutUs__content {
        padding-top: 130px;
        padding-left: 100px;
    }

    .aboutUs2__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .aboutUs2__column h2  {
        font-size: 45px;
        width: auto;
    }

    .advantages {
        height: auto;
    }

    .advantages__item {
        flex-wrap: wrap;
    }

    .weWork__item h2 {
        width: auto;
    }

    .aboutUs2 {
        height: auto;
    }
    .block3-decisions-box {
        width: 311px;
        height: 210px;
    }

    .block3-decisions-box p {
        text-align: center;
        font-size: 20px;
        padding-top: 130px;
    }
    .block3-decisions-box .block3-decisions-box-img {
        width: 311px;
        height: 210px;
    }

    /* .block3 img {
        height: 230px;
    } */

    .logo img {
        width: 200px;
        height: auto;
    }

    .nav li {
        margin-right: 7px;
        font-size: 14px;
    }

    .phone li{
        font-size: 14px;
    }.block2 img {
        max-width: 830px;
        width: 100%;
    }

    .block2-img {
        margin-right: 30px;
    }

    .block2-img-right {
        margin-left: 30px;
    }


    .banks-block1__item h1{
        font-size: 50px;
    }
    
    .banks-block1__column a {
        font-size: 35px;
    }
    
    .banks-block1__column p {
        font-size: 35px;
    }

    .banks-block4__item {
        margin-left: 339px;
    }

    .os-block1 .banks-block2__items {
        flex-wrap: wrap;
        justify-content: center;
    }

    .os-block1 .banks-block2__column {
        padding-top: 20px;
    }

    .development-block1__content {
        padding: 421px 0 231px 0;
    }
}



@media (max-width: 1024px) {

    /* .block3 img {
        height: 230px;
    } */

    .aboutUs__content {
        padding-top: 130px;
        padding-left: 0;
    }

    .trust__column img {
        position: relative;
        max-width: 136px;
        height: 136px;
    }

    .block1-content h1 {
        width: auto;
        font-size: 70px;
        line-height: 67px;
        color: #FFFFFF;
    }
    
    .block1-content p {
        margin-top: 33px;
        width: auto;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 45px;
        color: #FFFFFF;
    }

    .nav li {
        margin-right: 3px;
        font-size: 12px;
    }
    
    .logo img {
        width: 170px;
        height: auto;
    }

    .hr {
        width: 298px;
    }
    .block2-img-right {
        width: auto;
        height: 554px;
        border-radius: 15px;
        margin-left: 60px;
    }

    .block2-img {
        width: auto;
        height: 392px;
        border-radius: 15px;
        margin-right: 60px;
    }

    .block2 h2 {
        width: auto;
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        line-height: 55px;
        letter-spacing: -0.015em;
        color: #000000;
    }

    .block2 h2 {
        font-size: 35px;
    }

    .block2-ul li {
        font-size: 20px;
    }

    .input {
        width: 630px;
        height: 64px;
    }

    .box {
        width: 741px;
        height: 1183px;
    }

    textarea {
        width: 630px;
        height: 128px;
    }

    .advantages__item h2 {
        font-size: 35px;
    }

    .item_felx{
        display: flex;
        margin-top: 40px;
        justify-content: center;
    }

    .advantages__column {
        margin-top: 50px;
    }
    .weWork__item h2 {
        font-size: 26px;
    }

    #timeline .timeline-item .timeline-content p {
        font-size: 25px;
    }

    .ec-block1__item h1 {
        font-size: 50px;
    }
    
    .column_back_fone a {
        font-size: 20px;
        padding: 15px 20px; 
    }
    
    .ec-block1__column p {
        font-size: 20px;
    }

    .ec-block2__item {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .ec-block2__column {
        margin-top: 70px;
    }

    .ec-block3__column {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .ec-block3__column_box {
        margin-right: 0;
        margin-top: 30px;
    }

    .banks-block2__items {
        align-items: center;
        flex-direction: column;
    }

    .banks-block2__column {
        margin-bottom: 70px;
    }

    .banks-block2__column:last-child {
        margin-bottom: 0;
    }

    .banks-block4__item {
        margin-left: 20px;
    }

    .marketing-block1 .column_back_fone a {
        font-size: 50px;
    }

    .os-block1__item h1,
    .os-block1__item h2 {
        font-size: 50px;
    }

    .industry-block1__item h1 {
        font-size: 50px;
        padding-bottom: 45px;
    }
    
    .industry-block1__item p {
        font-size: 35px;
        padding: 25px 0 25px 0;
    }

    .development-block1__content {
        padding: 321px 0 131px 0;
    }
    
    .development-block1__item h1 {
        font-size: 50px;
        margin-bottom: 47px;
    }
    .development-block1__item p {
        font-size: 25px;
        margin-bottom: 51px;
    }
    
    .development-block2__column p {
        font-size: 25px;
        line-height: 35px;
    }

    .development-block2__column img {
        max-width: 347px;
        height: 90%;
    }

    .development-block4__item-box {
        /* text */
        font-size: 25px;
    }

    .box_bg {
        font-size: 20px;
    }
}

@media (max-width: 900px) {
    .nav {
        display: none;
    }

    .phone {
        display: none;
    }

    .flex-wrap-mob {
        flex-wrap: wrap;
    }
    .flex-wrap-mob1 {
        flex-wrap: wrap-reverse;
    }
    .align-items-center-mob {
        justify-content: center;
        align-items: center;
    }

    .block2-img {
        margin-right: 0;
    }

    .block2-img-right {
        margin-left: 0;
    }
    .block3__box:nth-child(2n) {
        padding-right: 0;
    }

    .aboutUs__column h1 {
        font-size: 50px;
    }
    
    .aboutUs__column h2 {
        font-size: 35px;
    }
    
    .aboutUs__column_font_right {
        font-size: 20px;
    }

    .aboutUs2__column h2  {
        font-size: 35px;
        width: auto;
    }

    .column_size_color ul {
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {
    #timeline {
        margin: 30px;
        padding: 0px;
        width: 90%;
    }
    #timeline:before {
        left: 0;
    }
    #timeline .timeline-item .timeline-content {
        width: 90%;
        float: right;
    }
    #timeline .timeline-item .timeline-icon {
        left: 0;
    }

    #timeline .timeline-item .timeline-content p {
        font-size: 20px;
    }

    .advantages__item h2 {
        font-size: 30px;
    }

    .oneWindow__item h2 {
        font-size: 30px;
    }
    
    .item_p p {
        font-size: 30px;
    }
    
    .item_position_p p {
        height: auto;
        font-size: 30px;
    }

    .ec-block3__item h2 {
        font-size: 40px;
    }
    
    .ec-block3__item h3 {
        font-size: 25px;
    }
    
    .ec-block3__iitem_format p {
        font-size: 20px;
    }
    
    .ec-block3__column_box h3 {
        margin-top: 10px;
        font-size: 25px;
    }
    
    .ec-block3__column_box h4 {
        font-size: 20px;
    }
    
    .column_box_text_flex {
        font-size: 20px;
    }

    .ec-block4__item h1 {
        font-size: 35px;
        margin-bottom: 46px;
    }
    
    .ec-block4__column p {
        font-size: 25px;
    }



    .banks-block1__item h1{
        font-size: 40px;
    }
    
    .banks-block1__column a {
        font-size: 25px;
    }
    
    .banks-block1__column p {
        font-size: 25px;
    }


    .column_info h2 {
        font-size: 30px;
    }
    
    .column_info li {
        font-size: 20px;
    }

    .banks-block3__column {
        flex-direction: column;
    }


    .swiper-button-next::after,
    .swiper-button-prev::after {
        display: none;
    }

    .slider__box {
        font-size: 20px;
    }

    .box_text h2 {
        font-size: 35px;
    }



    .item_clmn {
        flex-direction: column;
    }

    .item_clmn .banks-block4__item_block:last-child {
        margin-left: 0;
    }

    .banks-block4 {
        font-size: 20px;
    }


    .column_img-size {
        padding: 0;
    }

    .marketing-block1 .column_back_fone a {
        font-size: 30px;
    }

    .telecom-block4 p,
    .telecom-block4 ul {
        font-size: 20px;
    }


    .os-block1__item h1,
    .os-block1__item h2 {
        font-size: 30px;
    }

    .industry-block1__item h1 {
        font-size: 30px;
        padding-bottom: 45px;
    }
    
    .industry-block1__item p {
        font-size: 20px;
        padding: 25px 0 25px 0;
    }

    .industry-block1__content {
        padding-top: 121px;
    }

    .industry-block4 {
        padding: 100px 0 200px 0;
        font-size: 20px;
    }

    .development-block1__content {
        padding: 221px 0 100px 0;
    }
    
    .development-block1__item h1 {
        font-size: 50px;
        margin-bottom: 47px;
    }
    .development-block1__item p {
        font-size: 25px;
        margin-bottom: 51px;
    }

    .development-block2__column {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .development-block2__column img {
        margin-right: 0;
    }

    .column_position {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .development-block4__column li {
        font-size: 20px;
    }

    .development-block4__column {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .development-block4 ul{
        margin-right: 0;
    }

    .development-block4__column div {
        margin-bottom: 30px;
    }

    .service-block__item {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-wrap:wrap;
    }

    .service-block_box {
        margin-right: 0;
        margin-bottom: 30px;
    }
}

@media (max-width: 750px) {
    .block4-p {
        text-align: center;
    }

    .input-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 40px 0 40px;
    }
   
    .box {
        width: auto;
        height: 1183px;
    }

    .input {
        width: auto;
        height: 64px;
    }

    textarea {
        width: 270px;
        height: 128px;
    }

    .box-column-mob {
        flex-direction: column;
        align-items: center;
    }
    .block4-p {
        width: auto;
    }

    .block4-info-center {
        margin-bottom: 60px;
    }

    .box-block4-size {
        margin-bottom: 30px;
        width: 300px;
    }

    .block1-content h1 {
        font-size: 50px;
    }

    .block4-size-p {
        font-size: 50px;
    }

    .block4-info-center img {
        margin-bottom: 10px;
    }

    .block2-img {
        margin-top: 60px;
        height: auto;
    }

    .block2-img-right {
        margin-top: 60px;
        height: auto;
    }

    .block1-content {
        padding-top: 110px;
    }
    .trust {
        height: auto;
    }

    .trust__item h2 {
        font-size: 35px;
    }

    .trust__item p {
        font-size: 35px;
    }

    .column_wrap {
        display: flex;
        flex-wrap: wrap;
       justify-content: center;
    }

    .trust__column img {
        position: relative;
        max-width: 136px;
        max-height: 136px;
    }

    .ec-block1__item h1 {
        font-size: 30px;
    }
    
    .column_back_fone a {
        font-size: 14px;
        padding: 15px 20px; 
    }
    
    .ec-block1__column p {
        font-size: 18px;
    }

    .ec-block2__item_center h2{
        font-size: 50px;
    }

    .ec-block5 {
        height: auto;
        padding-bottom: 30px;
    }
}

@media (max-width: 450px) {

    .aboutUs__column h1 {
        font-size: 40px;
    }
    
    .aboutUs__column h2 {
        font-size: 30px;
    }

    .block3__box{
        padding-right: 0;
    }
    .block1 {
       height: auto;
    }
    .block2-contetn {
        padding-top: 0;
    }

    .block1-content h1 {
        font-size: 30px;
        line-height: 47px;
    }

    .block1-content p {
        font-size: 20px;
    }

    .btn-block1 {
        width: 207px;
        margin-bottom: 30px;
    }

    .block4-p1 {
        font-size: 18px;
    }

    .input-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 40px 0 40px;
    }
    .input-box p {
        font-size: 20px;
    }
   
    .box {
        width: 310px;
        height: 1183px;
        margin-bottom: 30px;
    }

    .input {
        width: auto;
        height: 64px;
    }

    textarea {
        width: 270px;
        height: 128px;
    }

    footer {
        height: auto;
    }
    .footer__nav {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
    }

    .footer__nav ul  {
        margin: 10px 0;
    }

    .btn-block5 {
        width: 207px;
    }

    .block3 img {
        margin-right: 0;
    }

    .block3 {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .aboutUs2__column h2  {
        font-size: 25px;
        width: auto;
    }

    .column_size_color ul {
        font-size: 20px;
    }

    .trust__item h2 {
        font-size: 25px;
    }

    .trust__item p {
        font-size: 25px;
    }

    .advantages__item h2 {
        font-size: 25px;
    }
    .advantages__column p {
        font-size: 20px;
    }

    .oneWindow__item h2 {
        font-size: 25px;
    }
    
    .item_p p {
        font-size: 20px;
    }
    
    .item_position_p p {
        height: auto;
        font-size: 20px;
    }

    .ec-block2__item_center h2{
        font-size: 35px;
    }

    .ec-block2__column p {
        font-size: 18px;
    }

    

    .ec-block3__item h2 {
        font-size: 30px;
    }
    
    .ec-block3__item h3 {
        font-size: 20px;
    }
    
    .ec-block3__iitem_format p {
        font-size: 16px;
    }
    
    .ec-block3__column_box h3 {
        margin-top: 10px;
        font-size: 20px;
    }
    
    .ec-block3__column_box h4 {
        font-size: 16px;
    }
    
    .column_box_text_flex {
        font-size: 16px;
    }

    .column_back_fone .column_size {
        font-size: 12px;
    }

    .ec-block4__column p {
        font-size: 20px;
    }


    .ec-block5__item h2{
        font-size: 25px;
    }
    
    .ec-block5__item p{
        font-size: 16px;
    }

    .banks-block1__item h1{
        font-size: 30px;
    }
    
    .banks-block1__column a {
        font-size: 20px;
    }
    
    .banks-block1__column p {
        font-size: 20px;
    }

    .hr {
        width: 278px;
    }


    .column_info li {
        font-size: 16px;
    }
    
    .slider__box {
        height: auto;
        font-size: 16px;
    }

    .box_text h2 {
        font-size: 25px;
    }

    .banks-block6 {
        font-size: 20px;
        text-align: center;
    }
    
    .banks-block6__item h2 {
        font-size: 30px;
    }
    
    .banks-block6__column {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 40px;
    }

    .banks-block6__column img {
        padding: 0 0 10px 0;

    }

    .banks-block4 {
        font-size: 16px;
    }

    .banks-block4__item h2 {
        font-size: 35px;
    }

    .marketing-block1 .column_back_fone a {
        font-size: 25px;
    }

    .marketing-block1 .os-block1__content {
        padding-top: 110px;
    }

    .marketing-block1 .banks-block1__item button{
        margin: 30px 0 30px 0;
    }
    .marketing-block1 .banks-block2__content {
        padding: 30px 0 0 0;
    }


    .advantages__column {
        padding-right: 0;
    }


    .insurance-block1 .banks-block1__content {
        padding-top: 120px;
    }

    .insurance-block1 .banks-block1__item h1 {
        margin-bottom: 30px;
     }

    .insurance-block1 .banks-block1__item button {
        margin: 50px 0 50px 0;
    }

    .telecom-block1  .banks-block1__content {
        padding-top: 120px;
    }

    .telecom-block1 h1 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .telecom-block4 p,
    .telecom-block4 ul {
        font-size: 16px;
    }

    .column_padding {
        padding: 50px 0 0 0 ;
    }

    .os-block1__content {
        padding-top: 110px;
    }


    .os-block1__item h2 {
        padding-top: 50px;
    }

    .banks-block2__column p {
        font-size: 16px;
    }

    .industry-block1__item h1 {
        font-size: 25px;
        padding-bottom: 45px;
    }
    
    .industry-block1__item p {
        font-size: 18px;
        padding: 25px 0 0 0;
    }

    .industry-block1 .banks-block2__content {
        padding: 70px 0 50px 0;
    }

    .industry-block4 {
        padding: 100px 0 100px 0;
        font-size: 16px;
    }

    .development-block1__content {
        padding: 150px 0 50px 0;
    }

    .development-block1__item h1 {
        font-size: 30px;
        line-height: 47px;
        margin-bottom: 47px;
    }
    .development-block1__item p {
        font-size: 16px;
        line-height: 37px;
        margin-bottom: 51px;
    }



    .development-block2 {
        padding: 50px 0 50px 0;
    }
    .development-block2__item h2{
        font-size: 30px;
        line-height: 43px;
    }
    
    .development-block2__column p {
        font-size: 16px;
        line-height: 25px;
    }
    .development-block2__column img {
        max-width: 300px;
        height: 90%;
    }

    .development-block4__item-box {
        flex-direction: column;
    
        font-size: 18px;
        line-height: 33px;
        margin-bottom: 50px;
    }
    
    .development-block4__item-box img {
        margin-right: 0;
    }

    .development-block5 {
        padding: 50px 0;
    }

}